<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.textbox.testbox">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestBox">
        <activity
            android:name=".Main_Assignment"
            android:exported="false" />
        <activity
            android:name=".QueryReplies"
            android:exported="false" />
        <activity
            android:name=".pdf"
            android:exported="false" />
        <activity
            android:name=".NoticeFullScreen"
            android:exported="false" />
        <activity
            android:name=".assignment_branches"
            android:exported="false" />
        <activity
            android:name=".assignment"
            android:exported="false" />
        <activity
            android:name=".ClubSignUp"
            android:exported="false"
            android:label="@string/title_activity_club_sign_up"
            android:theme="@style/Theme.TestBoxDark" />
        <activity
            android:name=".DispActivity"
            android:exported="false" />
        <activity
            android:name=".UserProfile"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".Nav_Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>